* {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  width: 80vw;
  margin:auto;
}

.logo {
  height: 40px;
  margin: 5px;
}

nav {
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 82px;
  margin-top: 10px;
}

.menu {
  width: 40vh;
  height: 100%;
  padding: 15px 0 15px 0;
  display: inline;
}

ul.menu {
  list-style: none;
  text-align: center;
  line-height: 100px;
}

ul.menu a {
  text-decoration: none;
  color: black;
}

ul.menu li {
  display: inline-block;
  padding: 0 15px;
}

.logo .menu {
  width: 30vh;
  height: 100%;
}

header {
  height: 55vh;
  width: 100%;
  border-radius: 5px;
}

.immagine_1 {
  height: 30vh;
  width: 100%;
}

.slide {
  position: relative;
  height: 50vh;
  width: 100%;
  border-radius: 5px;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
}

.titolo {
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}

main {
  height: 80vh;
}

#container1 {
  height: 10vh;
  width: 100%;
  margin: 5px 0;
  position: relative;
}

.title {
  position: absolute;
  bottom: 70px;
  left: 16px;
}
.paragraph {
  position: absolute;
  bottom: 35px;
  left: 16px;
}

.title,
.paragraph {
  color: #6f6767;
}

#container2 {
  height: 50vh;
  width: 100%;
  float: left;
  width: auto;
  display: flex;
  background-color: #6f676745;
}

.colonna1 {
  background-image: url("../img/img-1.jpg");
  height: 20vh;
  width: 40%;
  margin: 20px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);

}

.colonna2 {
  background-image: url("../img/banner-2.jpg");
  height: 20vh;
  width: auto;
  margin: 20px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}

.colonna3 {
  background-image: url("../img/img-3.jpg");
  height: 20vh;
  width: 40%;
  margin: 20px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}

footer {
  height: 10vh;
  width: 100%;
  color: red;
  text-align: center;
}
